[include]
	path=~/dotfile/.gitconfig.enviroment

[core]
    # Windows, Linux, Mac の間で改行コードを変換してくれる。
#    autocrlf = input
    # 改行コードについて非可逆的なコミットは拒否する。
    # こちらを参照: http://d.hatena.ne.jp/couichi/20110207/1297101115
    safecrlf = true
    editor = vim

[color]
    ui = auto

[i18n]
    commitencoding = utf-8

[merge]
    ff = false
    tool = extMerge

[mergetool "extMerge"]
    cmd = extMerge "$BASE" "$LOCAL" "$REMOTE" "$MERGE"
    trustExitCode = false

[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line

[push]
    default = simple

[alias]
    ad = add
    adp = add -p
    co = checkout
    ci = commit
    cm = commit -m
    ca = commit -a
    # diff --cached の内容が表示される
    civ = commit -v
    cam = commit --amend
    sh = show
    so = remote show origin
    st = status --branch --short
    gr = grep --line-number --show-function --color --heading --break
    ft = fetch
    br = branch
    hist = log --graph --pretty=format:'%Cred%h%Creset - %cd | %s %Cgreen(%cr)%C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=short -20
    hists = log --graph --pretty=format:'%Cred%h%Creset - %cd | %s %Cgreen(%cr)%C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=short --stat -20
    type = cat-file -t
    dump = cat-file -p
    # diff 関連
    df = diff --ignore-space-change
    dm = diff master
    dc = diff --cached
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    d4 = diff HEAD~~~~
    d5 = diff HEAD~~~~~
    # 登録してるエイリアスの一覧を表示したり
    alias = !"if test -z $1; then loop=; for k in `git config --get-regexp ^alias\\. | sort | sed -e 's/^alias\\.\\(\\S*\\).*/\\1/g'`; do echo -n $k; loop="${loop}1"; if test ${#loop} -lt 5; then echo -n '\t'; else echo; loop=; fi; done; exit; fi; git config --list | grep ^alias\\.$1= | sed -e s/^alias\\.//; exit;"

