
" ; と : の入れ替え。英字配列用
noremap : ;
noremap ; :

"Enterでいつでも一行挿入
" map <S-Enter> O<ESC>
" map <Enter> o<ESC>

" インサートモードでjjとうつとEscできる！
inoremap <silent> jj <Esc>

" 早く移動する移動系
nnoremap <Space>h  ^
vnoremap <Space>h  ^
nnoremap <Space>l  $
vnoremap <Space>l  $

nnoremap <C-h> 3h
nnoremap <C-k> 3k
nnoremap <C-l> 3l
nnoremap <C-j> 3j
vnoremap <C-h> 3h
vnoremap <C-k> 3k
vnoremap <C-l> 3l
vnoremap <C-j> 3j

" タブ
nnoremap gr gT

"Escの2回押しでハイライト消去
nmap <ESC><ESC> ;nohlsearch<CR><ESC>

" Pでペーストしたときに後ろにスペースを挿入する
nnoremap P Pa<Space><ESC>

" Yで行末までコピーする
nnoremap Y y$

" <TAB>キーでインデントする<Tab>と<C-i>が同一視されるため回避している
nnoremap <TAB> >>
nnoremap \<C-i> <C-i>
vnoremap <TAB> >>
vnoremap \<C-i> <C-i>
