" ; と : の入れ替え。英字配列用
noremap : ;
noremap ; :

"Enterでいつでも一行挿入
" map <S-Enter> O<ESC>
" map <Enter> o<ESC>

" インサートモードでjjとうつとEscできる！
inoremap <silent> jj <Esc>

" 早く移動する移動系
nnoremap <Space>h  ^
vnoremap <Space>h  ^
nnoremap <Space>l  $
vnoremap <Space>l  $h

nnoremap <C-h> 3h
nnoremap <C-k> 3k
nnoremap <C-l> 3l
nnoremap <C-j> 3j
vnoremap <C-h> 3h
vnoremap <C-k> 3k
vnoremap <C-l> 3l
vnoremap <C-j> 3j

" タブ
nnoremap gr gT

" Escの2回押しでハイライト消去
nmap <ESC><ESC> ;nohlsearch<CR><ESC>

" 通常のx, d, Dではyankに保存せず先頭にyをつけてyankに保存するようにする
nnoremap yx x
nnoremap yd d
nnoremap yD D
vnoremap yx x
vnoremap yd d
vnoremap yD D

nnoremap x "_x
nnoremap d "_d
nnoremap D "_D
vnoremap x "_x
vnoremap d "_d
vnoremap D "_D

" Yで行末までコピーする
nnoremap Y y$

" <TAB>キーでインデントする<Tab>と<C-i>が同一視されるため回避している
nnoremap <TAB> >>
nnoremap \<C-i> <C-i>
vnoremap <TAB> >>
vnoremap \<C-i> <C-i>

nnoremap <silent> ,m :call MarkDebugCode()<CR>

nnoremap <Space>jj :w<CR>

nnoremap <Space><Space> *

" Ctr + P でペーストモードになり、インサートモードから抜けると自動でペースト解除されるように
noremap <C-P> :set paste
autocmd InsertLeave * set nopaste

