" ; と : の入れ替え。英字配列用
noremap : ;
noremap ; :

" インサートモードでjjとうつとEscできる
inoremap <silent> jj <Esc>

" デフォルトの貼り付けが感覚と一致しないので、
" 行ごとコピーした時は p で貼り付け
" 行ごとでない場合は P で貼り付けられるように
nnoremap <expr><silent> p getregtype() ==# 'V' ? 'p' : 'P'
nnoremap <expr><silent> P getregtype() ==# 'V' ? 'P' : 'p'

" Escの2回押しでハイライト消去
nnoremap <ESC><ESC> ;nohlsearch<CR><ESC>

nnoremap <Space><Space> *

" ==================================================
" 早く移動する移動系
" ==================================================
nnoremap <Space>h  ^
vnoremap <Space>h  ^
nnoremap <Space>l  $
vnoremap <Space>l  $h

nnoremap <C-h> 10h
nnoremap <C-j> 3j
nnoremap <C-k> 3k
nnoremap <C-l> 10l

vnoremap <C-h> 10h
vnoremap <C-j> 3j
vnoremap <C-k> 3k
vnoremap <C-l> 10l

" ==================================================
" タブ
" ==================================================
nnoremap gr gT

" ==================================================
" 削除・ヤンク
" ==================================================
" 通常のx, d, Dではヤンクせず、yをつけた時だけヤンクするように
nnoremap yx x
nnoremap yd d
nnoremap yD D
vnoremap yx x
vnoremap yd d
vnoremap yD D

nnoremap x "_x
nnoremap d "_d
nnoremap D "_D
vnoremap x "_x
vnoremap d "_d
vnoremap D "_D

" Yで行末までコピーする
nnoremap Y y$

" ==================================================
" インデント
" ==================================================
" <TAB>キーでインデントする<Tab>と<C-i>が同一視されるため回避している
nnoremap <TAB> >>
nnoremap \<C-i> <C-i>
vnoremap <TAB> >>
vnoremap \<C-i> <C-i>
