" Escの2回押しでハイライト消去
nnoremap <ESC><ESC> :nohlsearch<CR>

" ==================================================
" タブ
" ==================================================
nnoremap gf <C-w>gf
nnoremap gr gT

" ==================================================
" 削除・ヤンク
" ==================================================
" 通常のx, d, Dではヤンクせず、yをつけた時だけヤンクするように
nnoremap yx x
nnoremap yd d
nnoremap yD D
vnoremap yx x
vnoremap yd d
vnoremap yD D

nnoremap x "_x
nnoremap d "_d
nnoremap D "_D
vnoremap x "_x
vnoremap d "_d
vnoremap D "_D

" Yで行末までコピーする
nnoremap Y y$

" ==================================================
" インデント
" ==================================================
" <TAB>キーでインデントする<Tab>と<C-i>が同一視されるため回避している
nnoremap <TAB> >>
nnoremap \<C-i> <C-i>
vnoremap <TAB> >>
vnoremap \<C-i> <C-i>

" ==================================================
" 数字を選択し、自動的にインクリメントする
" ==================================================
nnoremap <silent> co :ContinuousNumber <C-a><CR>
vnoremap <silent> co :ContinuousNumber <C-a><CR>
command! -count -nargs=1 ContinuousNumber let c = col('.')|for n in range(1, <count>?<count>-line('.'):1)|exec 'normal! j' . n . <q-args>|call cursor('.', c)|endfor
